# Pictures
*.png
!/icon PNGs/*.png
*.jpg
*.jpeg
*.tif
*.tiff

# Music
*.webm
*.part
*.m4a

# Defunct virtual environment
ccvenv

# Data files
.env
package.json
package-lock.json
pokeapi/*.json
*.log
__pycache__
node_modules
sprites
.vscode
words/*.txt
